= render 'nav'

%table.table.table-responsive
  %thead
    %tr
      %th Name
      %th Starts at
      %th{:colspan => "2"} Settings

  %tbody
    - @meetings.each do |meeting|
      %tr
        %td.link= link_to meeting.name, meeting
        %td= meeting.start_time.strftime("%d.%m.%Y %H:%M")
        %td.link= link_to 'Edit', edit_meeting_path(meeting)
        %td.link= link_to 'x', meeting, method: :delete, data: { confirm: 'Are you sure?' }
