.simple-calendar
  .calendar-heading
    %ul.nav.flex
      %li.nav-item
        = link_to t('simple_calendar.previous', default: '<<'), calendar.url_for_previous_view
        %span.calendar-title
          = t('date.month_names')[start_date.month]
          = start_date.year
        = link_to t('simple_calendar.next', default: '>>'), calendar.url_for_next_view, class: "marg-r"
      %li.nav-item.end.dropdown
        %span.calendar-title
          = link_to "Habits", habits_path, class: "marg-r"
      %li.nav-item.dropdown
        %span.calendar-title
          = link_to "Add event", new_meeting_path, class: "marg-r"
      %li.nav-item.dropdown
        %span.calendar-title
          = link_to "All events", meetings_path

      %li.nav-item
        %nav
          .wrapper
            %button.btn{:onclick => "this.classList.toggle('show-menu')"} =
            %ul.site-nav-list
              %li
                %span.calendar-title
                  = link_to "Habits", habits_path
              %li
                %span.calendar-title
                  = link_to "Add event", new_meeting_path
              %li
                %span.calendar-title
                  = link_to "All events", meetings_path

      -# %li.nav-item
      -#   %span.calendar-title
      -#     = link_to "Week", week_path

  %table.table.table-striped.table-responsive
    %thead
      %tr
        - date_range.slice(0, 7).each do |day|
          %th= t('date.abbr_day_names')[day.wday]
    %tbody
      - date_range.each_slice(7) do |week|
        %tr
          - week.each do |day|
            = content_tag :td, class: calendar.td_classes_for(day) do
              - if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block)
                - capture_haml(day, sorted_events.fetch(day, []), &passed_block)
              - else
                - passed_block.call day, sorted_events.fetch(day, [])
